.new-cocktail-form {
  margin: 24px 35%;
}

.name-input {
  height: 70px;
  border-radius: 4px;
}

.simple-form-cocktail {
  display: flex;
  flex-direction: column;
  .btn-saufen {
    margin: 12px auto;
    border-radius: 12px;
  }
}
