.container-show-cocktail {
  margin-top: 36px;
  display: flex;
  justify-content: center;
  img {
    border-radius: 12px;
    margin-right: 16px;
  }
}

.show-cocktail-information {
  width: 400px;
}

.doses-show-info {
  margin-top: 16px;
  width: 400px;
  height: 400px;
  background-color: rgba(221, 221, 221, 0.4);
  box-shadow: 2px 2px 18px rgba(0,0,0,0.2);
  border-radius: 12px;
  padding: 24px;
}

.dose-card-show {
  display: flex;
  justify-content: space-between;
}

.title-show-grid {
  display: flex;
  justify-content: space-between;
}

