<div class="nav-container d-flex align-items-center justify-content-between">
    <%= link_to 'Dr. Cocktail', root_path %>
    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
</div>
