<% rating = [] %>
<% if @cocktail.reviews.count != 0 %>
  <% @cocktail.reviews.each do |review| %>
    <% rating << review.rating %>
  <% end %>
  <% prom = rating.sum.to_f / @cocktail.reviews.count %>
  <% prom.to_i.times do  %>
    <i class="fas fa-star" style="color: #ffa931"></i>
  <% end %>
  <%= prom.round(1) %>
  <p>(<%= @cocktail.reviews.count %>) reviews</p>
<% else %>
  <% puts "" %>
<% end %>
