.nav-container {
  background-color: #24252A;
  box-shadow: 2px 0px 2px #F4F4F4;
  font-family: 'Helvetica';
  font-size: 30px;

  a {
    color: #edf0f1;
    margin-left: 10%;
    text-decoration: none;
    transition: 0.3s;
    text-align: center
  }

  input {
    height: 30px;
    width: 240px;
    margin-right: 10%;
    border-radius: 50px;
  }
}
