.review-show {
  margin: 40px 20%;
}

.review-content {
  display: flex;
  justify-content: space-between;
  margin: 4px 0px;
  padding: 4px 12px;
  background-color: rgba(221, 221, 221, 0.4);
  box-shadow: 2px 2px 9px rgba(0,0,0,0.2);
  border-radius: 12px;
}
